.queryBody {
  background-color: var(--bgColor);
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.queryBody > div {
  width: 70vw;
  height: 80vh;
  box-shadow: 0 0 50px rgba(1, 1, 1, 0.7);
  background-color: var(--bgSecondColor);
}

